.cart-container {
    position: absolute;
    width: 30%;
    top: 72px;
    right: 0;
    min-height:100%;
    background: #E9D5CA;
}

.cart {
    position: sticky;
    height: 100vh;
    top: 0;
    padding: 10px 20px;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proceed-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.proceed-btn{
    width: 50%;
    /* padding: 3%; */
    padding: 10px;
    background-color: #AEDBCE;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.clear-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn{
    width: 50%;
    padding: 10px;
    background-color: #FF8C8C;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}


@media only screen and (max-width:576px) {
    .cart-container{
        width: 50%;
    }

}

@media only screen and (min-width:577px) and (max-width:992px) {
    .cart-container {
        width: 40%;
    }
}